<div class="jumbotron">
    <h1>LojaAPI3B1</h1>
    <p class="lead">Site para Api da Loja Virtual da #B!.</p>
    <p><a href="https://projetomvc.azurewebsites.net/" class="btn btn-primary btn-lg">Site da Loja</a></p>
</div>

